<%- include('../partials/header') %>

<h1>Edit Posting</h1>

<form id="new-form" action="/home/<%= creatureId %>?_method=PUT" method="POST">
  <label>Name:</label>
  <input type="text" name="name" value="<%= creature.name %>">
  <label>HP:</label>
  <input type="text" name="hitPoints" value="<%= creature.hitPoints %>">
  <label>AC:</label>
  <input type="text" name="armorClass" value="<%= creature.armorClass %>">
  <label>Attacks:</label>
  <input type="text" name="attacks" value="<%= creature.attacks %>">
 
  <!-- ability scores -->
  <label>STR:</label>
  <input type="text" name="abilityScores" value="<%= creature.abilityScores[0] %>">
  <label>DEX:</label>
  <input type="text" name="abilityScores" value="<%= creature.abilityScores[1] %>">
  <label>CON:</label>
  <input type="text" name="abilityScores" value="<%= creature.abilityScores[2] %>">
  <label>INT:</label>
  <input type="text" name="abilityScores" value="<%= creature.abilityScores[3] %>">
  <label>WIS:</label>
  <input type="text" name="abilityScores" value="<%= creature.abilityScores[4] %>">
  <label>CHA:</label>
  <input type="text" name="abilityScores" value="<%= creature.abilityScores[5] %>">
  
  <!-- extra info -->
  <label>Defenses:</label>
  <input type="text" name="defenses" value="<%= creature.defenses %>">
  <label>Details:</label>
  <input type="text" name="details" value="<%= creature.details %>">
  <label>EXP:</label>
  <input type="text" name="experience" value="<%= creature.experience %>">
  <input type="submit" value="Finish editing">
</form>

<form action="../../">
  <input type="submit" value="Cancel">
</form>
<%- include('../partials/footer') %>
