<%- include('../partials/header') %>

<!-- <button type="button" class="collapsible">Open Collapsible</button>
<div class="content">
  <p>Hello</p>
</div> -->

<table id="list">
  <thead>
    <tr>
      <th>Name</th>
      <th>HP</th>
      <th>AC</th>
      <th>Attacks</th>
      <th>STR</th>
      <th>DEX</th>
      <th>CON</th>
      <th>INT</th>
      <th>WIS</th>
      <th>CHA</th>
      <th>Defenses</th>
      <th>EXP</th>
    </tr>
  </thead>
    <tbody>
      <% creatures.forEach(function(creature) { %>
      <tr>

        <% if(creature.name) { %>
          <td>
            <a href="/home/<%= creature._id %>"><%= creature.name %></a>
          </td>
          <% } else { %>
          <td>
            <a href="/home/<%= creature._id %>">Unnamed</a>
          </td>
        <% } %>

        <td><%= creature.hitPoints %></td>
        <td><%= creature.armorClass %></td>
        <td><%= creature.attacks %></td>

        <!-- ability scores -->
        <% creature.abilityScores.forEach(function(score) { %>
          <% if(score) { %>
          <td><%= score %> (<%= Math.floor((score-10)/2) %>)</td>
          <% } else { %>
          <td>- (-)</td>
        <% }}); %>

        <!-- print defenses, otherwise n/a -->
        <% if(creature.defenses) { %>
        <td><%= creature.defenses %></td>
        <% } else { %>
        <td>n/a</td>
        <% } %>

        <!-- print experience, otherwise n/a -->
        <% if(creature.experience) { %>
          <td><%= creature.experience %></td>
          <% } else { %>
          <td>n/a</td>
        <% } %>

        <td>
          <form action="/home/<%= creature._id %>/edit">
            <button type="submit">Edit</button>
          </form>
        </td>
        <td>
          <form action="/home/<%= creature._id %>?_method=DELETE" method="POST">
            <button type="submit">🗑️</button>
          </form>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>

  <form action="home/new">
    <button type="submit">Add New Creature</button>
  </form>
  

  <script>
    let coll = document.getElementsByClassName("collapsible");
    let i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        let content = this.nextElementSibling;
        if (content.style.maxHeight){
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        }
      });
    }
  </script>

<%- include('../partials/footer') %>
